@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

@layer base {
  body {
    font-family: "Mona Sans", sans-serif;
  }
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

